<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>
<body>
    <header class="header">
        <h4>Forget Password</h4>
    </header>
    <section class="section">
        <p>Hi <%= name %></p>
        <p>
            You are receiving this email because you or someone
            requested for a password reset on your lartdecomposer account.
            If it was you, simply click on the link below to reset your password. 
            Otherwise it can be safely ignored.
        </p>
        <a href="http://localhost:9000/forget-password?token=<%= token %>">click here</a>
    </section>
    <footer class="footer">
        &copy; lartdecomposer
    </footer>
</body>
</html>